.layui-header {
    background-color: #CCFFFF !important;
    color: black !important;
}
.layui-bg-black {
    background-color: #CCFFFF !important;
}
.layui-nav-tree .layui-nav-item {
    display: block;
    width: 100%;
    line-height: 45px;
    background: #CCFFFF;
    color: black !important;
}
.layui-nav-itemed .layui-nav-child {
    display: block;
    padding: 0;
    background-color: #99CCCC !important;
    color: black !important
}
.layui-nav .layui-nav-item > a {
    color: black !important;
}
.layui-nav .layui-nav-item > a:hover {
    background-color: #66CCCC !important;
}
.layui-circle {
    border: 4px solid #99CCFF;
}
.layui-nav-tree .layui-nav-child a {
    color: black !important;
}
.layui-tab-title .layui-this {
    background-color: #f2f2f2;
    color: #0c7dd8 !important;
    border-radius: 5px;
}